html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg,
    rgba(30, 14, 65, 1) 0%,
    rgba(48, 48, 132, 1) 100%);
  
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  background: none;
  border: none;
}

.nav {
  height: 3rem;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.links {
  margin: 0;
}

.links i {
  font-size: 1.5rem;
  color: #ffffff;
}

.nav a {
  color: #ffffff;
  font-size: 1.2rem;
}

.nav .border-button {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
}

.nav .border-button:hover {
  background-color: #ffffff;
  color: blueviolet;
}

.nav a:hover {
  text-decoration: underline;
}

.nav-link {
  margin-right: 5rem;
  padding-top: 2rem;
}

.logoimg {
  width: 10rem;
}

.fullheight {
  height: 100vh;
}

.noshow {
  display: none;
}

.show {
  display: block;
}

.hamburger,
.hamburger-close {
  color: #ffffff;
  border: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobile-navbar .links {
    margin-top: 5rem;
  }

  .mobile-navbar {
    display: block;
    position: fixed;
    color: #ffffff;
    z-index: 15;
    width: 100vw;
    margin-bottom: 5rem;
  }

  .color {
    background: linear-gradient(
      90deg,
      rgba(30, 14, 65, 1) 0%,
      rgba(48, 48, 132, 1) 100%
    );
  }

  .hero-content {
    padding-top: 12rem;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  .links li {
    list-style: none;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  li a {
    color: #ffffff;
  }

  li .border-button {
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: -1.5rem;
    margin-left: -3rem;
  }

  li .border-button:hover {
    background-color: #ffffff;
    color: blueviolet;
  }
}

/* navbar ends */
.upcoming-events{
  padding: 2rem 0rem;
  text-align: center;
  color: #ffffff;

}
.upcoming-events h1,.past-events h1{
  font-size: 60px;
}
.upcoming-events p{
  font-size: 35px;
  font-style: italic;
}
.teamgrid{
  padding:10rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.column{
  padding: 3rem;
  color: #ffffff;
}

    .column img{
  width:27.5rem;
  height: 27.5rem;
  padding:1.5rem;
  border-radius: 27.5rem;
  box-shadow:  .3rem .3rem .5rem #af37ff , -.3rem -.3rem .5rem  #897df3;
}
.container-card{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.container-card h4{
  margin:0;
  padding-top: .7rem;
  font-weight: lighter;
  color: #ffffff;
}
.social{
  padding-top: 1rem;
  padding-bottom: .5rem;
}
.social a{
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter;

}
.social a:hover{
  color: #37c8ec;
}

@media (max-width:950px) {

  html{
      font-size: 9px;
  }
  

@media (max-width:865px) {

  html{
      font-size: 8px;
  }
  
}
@media (max-width:768px) {

 .row{
      flex-wrap: wrap;
  }
  
}
         
}
/* footer */
footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 5rem 0 2.5rem 0;
  color: #ffffff;
  bottom: 0;
}

.social-icons {
  font-size: 2rem;
  text-align: center;
}

.social-icons i {
  margin-right: 1rem;
}

.social-icons i:hover {
  color: #0967ff;
}

.madeby {
  font-size: 1.2rem;
}

/* footer ends */
